:root {
    --primary: #00b887;
    --primary-dark: #078c79;
    --primary-light: #e5f6f0;
    --secondary: #0aa99c;
    --text-dark: #183432;
    --text: #6b7f7d;
    --green-rgb: 98, 232, 184;

    --red: #8f3434;
}