@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

body {
  margin: 0;
  font-family: 'Heebo';
}

.home_wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
}

button {
  width: 170px;
  height: 40px;
  border: none;
  border-radius: 50vh;
  background-color: white;
  color: black;
  cursor: pointer;
  font-weight: bold;
  transition:
    box-shadow .5s ease,
    background-color .5s ease;
  box-shadow:
    inset 0 3px 3px rgba(0, 180, 135, .28),
    0 5px 5px rgba(0, 180, 135, .2);
}

button:hover {
  background-color: #00d89a;
  box-shadow:
    0 16px 35px rgba(0, 180, 135, .35);
}

button:active {
  transform: translateY(1px);
  box-shadow:
    0 6px 18px rgba(0, 180, 135, .22);

}

button:disabled {

  opacity: .55;
  cursor: not-allowed;
  transform: none;
  box-shadow: none;

}